.search{
    /* background-color: orange; */
    display: flex;
    align-items: center;
    gap: 3px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    height: 50px;
    padding: 16px 20px;
    border-radius: 10px; 
    margin: 12px 10px;
    position: sticky;
    top: 0px;
    left:0px;
}
.searchitem{
    height: 70px;
}
.search i {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.685)
}
.search input{
    border: none;
    background:none;
    outline: none;
    height: 40px;
    font-weight: bold;
    color:black;
    font-size: 20px;
}